alembic
attrs
black
blinker
click
coverage
dnspython
email-validator
flake8
Flask
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
idna
iniconfig
isort
itsdangerous
Jinja2
Mako
MarkupSafe
mccabe
mypy
mypy-extensions
numpy
opencv-python
packaging
pathspec
Pillow
platformdirs
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python-dotenv
SQLAlchemy
toml
tomli
# torch
torch
torchvision
typing_extensions
Werkzeug
WTForms
